@charset "UTF-8";
/*Estilos Generales de todas las paginas */

/* Mostrar el header de desktop y ocultar el de mobile por defecto */
.header-desktop {
  display: block;
}

.header-mobile {
  display: none;
}

body {
  background-color: #e8edeb;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 0;
  padding: 20px;
}

/* Estilos de texto */
@font-face {
  font-family: "Relationsip Of Mélodrame";
  src: url("Fonts/relationship-of-melodrame.ttf") format("truetype");
}
h1,
h2,
h3,
li {
  text-align: center;
}

h1 {
  font-family: "Relationship Of Mélodrame", sans-serif;
  color: #533d43;
  font-size: 60px;
  margin-bottom: 10px;
}

h2 {
  font-size: 40px;
  font-family: "Relationship Of Mélodrame", sans-serif;
  color: #674c53;
  text-decoration: wavy;
}

h3 {
  font-family: "Relationship Of Mélodrame", sans-serif;
  color: #674c53;
  font-size: 20px;
}

h4 {
  font-family: "Relationship Of Mélodrame", sans-serif;
  color: #674c53;
  font-size: 20px;
}

p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  margin: 10px 0;
}

ul ol {
  padding-left: 0;
  text-align: left;
  margin-left: 20px;
}

.h2-benef {
  font-size: 40px;
  font-family: "Relationship Of Mélodrame", sans-serif;
  color: #674c53;
  text-decoration: wavy;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* Estilos de botones */
a {
  text-decoration: none;
  color: #533d43;
}

a:hover {
  text-decoration: underline;
}

.crear-marca {
  background-color: #533d43;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  margin: 10px;
}
.crear-marca:hover {
  background-color: #674c53;
}

.descubrir-servicios {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Estilo general de las cards de todas las paginas */
.plantilla-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  margin: 50px 0;
  margin-left: 70px;
  width: 100%;
}

/* header de todas las pag*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header #box {
  border-radius: 80px;
  background-color: #F6F3F0;
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #box .logotipo {
  height: 70px;
  width: auto;
  margin-right: 20px;
}
header #box .barra-navegacion {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  gap: 30px;
  padding-top: 15px;
  margin-bottom: 25px;
}

/* Footer de todas las páginas */
.h2-footer {
  font-size: 2rem;
}

footer {
  border-radius: 80px;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
  padding: 20px;
  background-color: #F6F3F0;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .redes-sociales {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 15px;
}
footer .redes-sociales .logoredes {
  width: 30px;
  height: auto;
}
footer a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}
footer a:hover {
  color: #555;
}
footer div,
footer a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*banner, h1, Banda CTA, Parrafo Psico-Branding*/
.banner {
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 20px 0;
}

.banda-containerindex {
  width: 100%;
  overflow: hidden;
  background-color: rgba(83, 61, 67, 0.9607843137);
  padding: 10px;
}
.banda-containerindex .banda-textolinks {
  display: flex;
  white-space: nowrap;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  color: rgb(211, 203, 203);
}
.banda-containerindex .banda-textolinks a {
  color: rgb(211, 203, 203);
  cursor: pointer;
  padding-left: 25%;
  padding-right: 25%;
}

.card-index {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 80px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
  padding: 40px;
  margin: 50px;
  max-width: 100%;
}
.card-index h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.card-index .centered-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  align-items: center;
}
.card-index .parrafo-index {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0 20px;
}

/* Slider infinito Testimonios */
section .marquee {
  width: 100%;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
}
section .marquee img {
  height: auto;
  width: 400px;
  margin-right: 10px;
  animation: scroll 10s linear infinite;
  transform: scale(1.05);
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}

/* Bio detrás de escena */
.card-escena {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(231, 137, 255, 0.1843137255);
  border-radius: 80px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
  padding: 30px;
  margin: 50px 0;
  margin-left: 160px;
  max-width: 1000px;
}
.card-escena h2.derecha1 {
  text-align: right;
  padding-top: 40px;
  padding-right: 60px;
}
.card-escena h3.derecha3 {
  text-align: right;
  padding-right: 60px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.card-escena .contenido-presentacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.card-escena .contenido-presentacion .foto-perfil {
  width: 300px;
  height: 700px;
  border-radius: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.card-escena .contenido-presentacion #flor-perfil {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.9rem;
  margin-right: 40px;
}
.card-escena .presentacion {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2.h2-benef {
  text-align: center;
  font-size: 40px;
  font-family: "Relationship Of Mélodrame", sans-serif;
  color: #674c53;
  text-decoration: wavy;
}

a.crear-marca {
  display: inline-block;
  background-color: #533d43;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}
a.crear-marca:hover {
  background-color: #674c53;
}

/* h1 y Cards de servicios */
h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  padding-top: 50px;
}

.servicios .cards-servicios {
  align-items: center;
  background-color: #ffffff93;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
  padding: 20px;
  width: 100%;
  margin: 15px;
  height: auto;
}

.servicios .cards-servicios h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 10px;
}

.servicios .cards-servicios .imagenes-servicios {
  width: 100%; 
  height: 300px; 
  object-fit: cover; 
  border-radius: 8px;
  padding: 10px 0;
}

.servicios .cards-servicios .p-card-serv {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

/* Acordeon de preguntas frecuentes */
.card-faq {
  border-radius: 80px;
  width: 80%;
  margin: 10%;
}
.card-faq h1.h1-benef {
  text-align: center;
}
.card-faq .accordion {
  width: 100%;
}
.card-faq .accordion .accordion-item {
  width: 100%;
  border-radius: 80px;
}
.card-faq .accordion .accordion-item .accordion-header {
  font-size: 40px;
}
.card-faq .accordion .accordion-item .accordion-header .accordion-button {
  padding-left: 40px;
  font-size: 30px;
}
.card-faq .accordion .accordion-item .accordion-header .accordion-button:hover {
  background-color: #f0f0f0;
  color: rgba(51, 51, 51, 0.4196078431);
}
.card-faq .accordion .accordion-item .accordion-collapse .accordion-body {
  font-size: 1.1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 50px;
  padding-right: 30px;
  text-align: start;
}

/* PAGINA PORTFOLIO */
/* Cards Portfolio */
.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 0;
}
.portfolio .cards-portfolio {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
  padding: 35px;
  max-width: 100%;
  height: 600px;
  margin: 15px;
}
.portfolio .cards-portfolio .foto-portfolio {
  width: 100%; 
  height: 400px; 
  object-fit: cover; 
  border-radius: 8px;
  padding: 10px 0;
}
.portfolio .cards-portfolio .p-portfolio {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* PAGINA SHOP */
/* Cards Plantillas */
h1 {
  font-family: "Relationship Of Mélodrame", sans-serif;
  color: #533d43;
  font-size: 60px;
  margin-bottom: 10px;
}

h3.baseline-shop {
  text-align: justify;
  font-family: Georgia;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
h3.h3-banda {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* banda for designers*/
.banda-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: rgba(83, 61, 67, 0.9607843137);
  padding: 10px;
}
.banda-container .banda-texto {
  display: flex;
  white-space: nowrap;
  animation: textoScroll 10s linear infinite;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  color: rgb(211, 203, 203);
  padding: 10px;
}
.banda-container .banda-texto p {
  margin: 0;
}

@keyframes textoScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.p-deltitulo {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.p-plantillas {
  font-size: 20px !important;
}

.cards-shop {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
  padding: 50px;
  margin: 50px auto;
  max-width: 80%;
}
.cards-shop h1 {
  font-size: 55px;
  padding-top: 0;
  padding-bottom: 25px;
}
.cards-shop h4 {
  font-size: 30px;
}

.descripcion-pack h4 {
  text-align: left;
}
.descripcion-pack ul {
  padding-left: 20px !important;
  list-style-type: disc !important;
  margin: 0;
}
.descripcion-pack ul li {
  text-align: left !important;
  margin-bottom: 8px;
}
.descripcion-pack p {
  text-align: left !important;
  margin-bottom: 10px;
}

.pack-full {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.pack-full .gif-plantillas {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin-right: 20px;
}
.pack-full .descripcion-pack {
  flex-grow: 1;
  text-align: left;
}

/* seccion proceso correcto */
section .container-fluid {
  width: 80%;
  background-color: #edeae8;
  padding: 20px;
  border-radius: 80px;
}
section .container-fluid h1 {
  color: #642749;
  text-align: center;
  padding: 10px;
}
section .container-fluid .row .col-md-6 .card {
  margin: 2%;
  padding: 2%;
  background-color: rgba(255, 236, 242, 0.8352941176);
  border-radius: 80px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
section .container-fluid .row .col-md-6 .card .card-body {
  border-radius: 80px;
}
section .container-fluid .row .col-md-6 .card .card-body h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(83, 61, 67);
  margin: 10px 0 0 0;
  padding: 0;
}
section .container-fluid .row .col-md-6 .card .card-body p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(83, 61, 67);
  padding: 15px 15px;
  padding-bottom: 0;
  text-align: center;
  justify-content: center;
}

/* PAGINA RECURSOS */
.tarjeta {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.tarjeta .h1 {
  margin-top: 10px;
}
.tarjeta .h2-benef {
  margin-top: 10px;
}
.tarjeta .baseline-dicc {
  font-size: 30px;
}
.tarjeta .diccionario-grilla {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  list-style-type: none;
  gap: 15px;
  padding: 10px;
  margin: 20px 0;
}
.tarjeta .diccionario-grilla li {
  background-color: #F6F3F0;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.308);
  transition: background-color 0.3s, transform 0.3s;
}
.tarjeta .diccionario-grilla li:hover {
  background-color: #eae3e0;
  transform: scale(1.05);
  cursor: pointer;
}
.tarjeta .enlace-servicios {
  color: #061e38;
  text-decoration: none;
}
.tarjeta .enlace-servicios:hover {
  text-decoration: underline;
}

/* Sección Blog */
.section-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.section-blog .entrada {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #F6F3F0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
  transition: background-color 0.3s, transform 0.3s;
}
.section-blog .entrada:hover {
  background-color: #EAE9E6;
  transform: translateY(-5px);
}
.section-blog .entrada .imagen-entrada {
  width: 250px;
  height: auto;
  margin-right: 15px;
}
.section-blog .entrada .contenido-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-blog .entrada h2 {
  margin: 0 0 10px 0;
  line-height: 40px;
}
.section-blog .entrada h2 a:hover {
  text-decoration: underline;
}

/*Sección Ebook Gratis*/


/* PAGINA DICCIONARIO */
.baseline-dicc {
  font-size: 25px;
  color: #533d43;
  line-height: 1.6;
}

.list-group {
  margin: 20px 0;
}
.list-group .list-group-item {
  padding: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.list-group .list-group-item:hover {
  background-color: #f9f9f98f;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.534);
}

h5 {
  font-weight: bold;
  color: #533d43;
  text-align: left;
}

.mb-1 {
  text-align: left;
  margin-top: 5px;
  color: #533d43;
}

/* Formulario de Contacto */
.card-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  padding: 50px;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 80%;
}
.card-form .formulario-simbolika .formulario .mb-3 .form-label {
  text-align: left;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}
.card-form .formulario-simbolika .formulario .mb-3 .form-control {
  width: 100%;
}
#p-contacto {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.v-contactos {
  width: 90%;
  height: auto;
}

.form-check {
  display: flex;
  align-items: center;
}
.form-check .form-check-input {
  margin-right: 10px;
}
.form-check .form-check-label {
  margin: 0;
}

fieldset {
  margin-bottom: 20px;
}
fieldset legend {
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}

.p-plantillas {
  text-align: left;
  font-size: 25px;
}
/*PAGINA SOBRE MI*/

.typed-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgba(0, 0, 0, 0.438); /* es el cursor, no el borde */
  animation: typing 4s steps(30, end) forwards, blink-caret 0.75s step-end 3;
}

@keyframes typing {
  from { width: 0; }
  to { width: 30%; }
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  50% { border-color: rgba(0, 0, 0, 0.438); }
}

/*   PAGINA   CARRITO   */

#carrito-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  max-width: 800px;
}

#carrito {
  width: 100%;
  border-collapse: collapse;
}

#carrito th, #carrito td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#carrito-total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#vaciar-carrito {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#vaciar-carrito:hover {
  background-color: #e55a4e;
}
#proceder-pago {
  background-color: green;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;

}
#proceder-pago:hover {
  background-color: rgb(2, 112, 2);
}




/* _________________________MEDIA QUERIES MOBILE_________________________ */
@media (min-width: 320px) and (max-width: 599px) {

/* Media Queries MOBILE INICIO (iPhone 3/4/4s y similares)*/

.header-desktop {
  display: none;
}

.header-mobile {
  display: block;
}

  .banner {
    width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .h1 {
    text-align: center;
    font-family: "Relationship Of Mélodrame", sans-serif;
    color: #533d43;
    font-size: 1rem;
    margin-bottom: 8px;
  }
  .banda-containerindex {
    width: 300px;
    overflow: hidden;
    background-color: rgba(83, 61, 67, 0.9607843137);
    padding: 0;
  }
  .banda-textolinks {
    display: table-column;
    flex-wrap: wrap;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1rem;
    color: rgb(211, 203, 203);
    justify-content: center;
  }
  .banda-textolinks a {
    color: rgb(211, 203, 203);
    cursor: pointer;
    padding: 5px 8%;
    flex: 1 1 40%;
    text-align: center;
    box-sizing: border-box;
  }
  .parrafo-index {
    font-size: 17px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 10px;
  }
  .card-index {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
    padding: 10px;
    margin: 10px;
    max-width: 100%;
  }
  .marquee img {
    width: 100%;
    height: auto;
  }
  .h2-benef {
    font-size: 15px;
    padding: 10px;
  }
  .accordion-button {
    font-size: 12px;
    padding-left: 20px;
  }
 
  .h2-footer {
    font-size: 2rem;
  }
  footer {
    border-radius: 80px;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 20px;
    padding: 20px;
    background-color: #F6F3F0;
    color: #533d43;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .redes-sociales {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin: 10px 0;
  }

  .logoredes {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: auto;
  }

  footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #533d43;
  }
  footer a:hover {
    color: #555;
  }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Media Queries MOBILE SERVICIOS (iPhone 3/4/4s y similares) */
  
  .p-card-serv {
    font-size: 0.8rem; 
  }

  .servicios {
    grid-template-columns: 1fr;
    gap: 5px;}

.cards-servicios {
  justify-self: center; 
  padding: 15px; 
  margin: 15px;
  width: 90%;
  height: auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.cards-servicios h2 {
  font-size: 1.2rem;
  margin: 10px;
}

.imagenes-servicios {
  width: 100%; 
  height: auto; 
  display: block;
}

.p-card-serv {
  width: 100%;
  font-size: 0.85rem;
  padding: 10px; 
  text-align: justify; }

.card-faq {
    width: 100%;
    margin: 0;
  }
  .accordion-button {
    font-size: 1.2rem;
    padding-left: 20px;
  }
  .accordion-body {
    font-size: 0.9rem;
    padding: 20px;
  }
  .accordion-header {
    font-size: 1.5rem;
  }
  .h2-footer {
    font-size: 2rem;
  }
  footer {
    border-radius: 80px;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 20px;
    padding: 20px;
    background-color: #F6F3F0;
    color: #533d43;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redes-sociales {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin: 10px 0;
  }
  .logoredes {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: auto;
  }
  footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #533d43;
  }
  footer a:hover {
    color: #555;
  }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Media Queries MOBILE PORTFOLIO (iPhone 3/4/4s y similares)*/
  
  .portfolio {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 5px;
    padding-top: 10px;
  }

  .cards-portfolio {
    justify-self: center;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
  }

  .cards-portfolio h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5rem; 
    text-align: center;
    margin-bottom: 10px;
  }

  .foto-portfolio {
    width: 100%; 
    height: 150px; 
    display: block;
    object-fit: cover;
    border-radius: 8px;
  }

  .p-portfolio {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 100%;
    font-size: 0.85rem;
    padding-bottom: 10px !important; 
    text-align: center;
  }


  .h2-footer {
    font-size: 2rem;
  }
  footer {
    border-radius: 80px;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 20px;
    padding: 20px;
    background-color: #F6F3F0;
    color: #533d43;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redes-sociales {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin: 10px 0;
  }
  .logoredes {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: auto;
  }
  footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #533d43;
  }
  footer a:hover {
    color: #555;
  }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Media Queries MOBILE SHOP (iPhone 3/4/4s y similares)*/
  
  .baseline-shop {
    font-size: 0.9rem;
    margin: 5px;
  }
  .banda-container {
    padding: 8px;
  }
  .banda-texto {
    font-size: 1rem;
  }


  .p-plantillas {
    font-size: 0.9rem;
    padding: 10px 8px;
  }
  .cards-shop {
    width: 100%;
    max-width: 98%;
    justify-self: center;
    padding: 10px;
    margin: 10px auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
  }
  .cards-shop h1 {
      font-size: 2rem !important;
      text-align: center;  
    }

    .pack-full {
      display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    }

  .gif-plantillas {
  margin: 10px !important;
  width: 100%;
  max-width: 100%;
  height: 150px !important; 
  border-radius: 8px;
}
  
  .descripcion-pack {
    text-align: center;
    padding: 0 5px;
    font-size: 0.9rem;
  }
  .h2-footer {
    font-size: 2rem;
  }
  footer {
    border-radius: 80px;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 20px;
    padding: 20px;
    background-color: #F6F3F0;
    color: #533d43;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redes-sociales {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin: 10px 0;
  }
  .logoredes {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: auto;
  }
  footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #533d43;
  }
  footer a:hover {
    color: #555;
  }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* Media Queries MOBILE RECURSOS (iPhone 3/4/4s y similares)*/
  
  .iconos3 {
    width: 100%;
    height: auto;
  }
  .tarjeta {
    padding: 10px;
    margin-bottom: 15px;
  }
  h1 {
    font-size: 2.4rem;
    text-align: center;
  }
  h3 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .diccionario-grilla {
    display: grid !important;
    grid-template-columns: 1fr !important;    
    gap: 5px;
    padding: 5px;
    list-style: none;
  }
  .diccionario-grilla li {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5px;
    font-size: 0.9rem;
  }

  .baseline-dicc {
    font-size: 1.2rem;
    text-align: center;
  }
  .section-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .entrada {
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
  }
  .imagen-entrada {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contenido-texto {
    text-align: center;
  }
  .entrada h2 {
    font-size: 1.1rem;
    line-height: 1.3;
  }
  .h2-footer {
    font-size: 2rem;
  }
  footer {
    border-radius: 80px;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 20px;
    padding: 20px;
    background-color: #F6F3F0;
    color: #533d43;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redes-sociales {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin: 10px 0;
  }
  .logoredes {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: auto;
  }
  footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #533d43;
  }
  footer a:hover {
    color: #555;
  }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* Media Queries MOBILE SOBRE MI (320 x 600) */
  .card-escena {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 15px;
    overflow: hidden; /* Evita overflow */
  }
  
  .card-escena h2,
  .card-escena h3 {
    text-align: center;
    font-size: 1.1rem; /* Ajusta el tamaño del texto */
    margin: 10px 0;
    font-weight: 600;
  }
  
  .contenido-presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Asegura que el contenido no haga overflow */
  }
  
  .foto-perfil {
    width: 100%;
    max-width: 100%;
    height: auto; /* Ajusta automáticamente la altura */
    border-radius: 15px;
    margin-bottom: 15px;
    object-fit: cover; /* Evita distorsiones */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  #flor-perfil {
    font-size: 0.9rem; /* Ajusta el tamaño del texto */
    text-align: justify;
    line-height: 1.6;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%; /* Ocupa todo el contenedor */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  
  #flor-perfil b,
  #flor-perfil em {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
  }
  

  /* Media Queries MOBILE CONTACTOS (iPhone 3/4/4s y similares)*/
  
  .card-form {
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
  }
  .v-contactos {
    width: 100%;
    height: auto;
  }
  #p-contacto {
    font-size: 15px;
    padding: 10px;
  }
  .form-label {
    font-size: 15px;
  }
  legend {
    font-size: 15px;
  }
  .form-check-input {
    width: 15px;
    height: 15px;
  }
  .form-check {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-check-label {
    font-size: 15px;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
    margin: 10px 0;
    padding: 0 5px;
  }
  
  .gif-plantilla {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0;
    object-fit: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  

  .h2-footer {
    font-size: 2rem;
  }
  footer {
    border-radius: 80px;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 20px;
    padding: 20px;
    background-color: #F6F3F0;
    color: #533d43;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redes-sociales {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin: 10px 0;
  }
  .logoredes {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: auto;
  }
  footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #533d43;
  }
  footer a:hover {
    color: #555;
  }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* _________________________MEDIA QUERIES TABLETS_________________________ */
@media (min-width: 600px) and (max-width: 1024px) {
  /* Media Queries TABLETS INICIO (iPad Mini,Samsung Galaxy TabA,Amazon Fire HD y similares)*/
  #box {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    height: auto;
  }
  .barra-navegacion {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0%;
  }
  .barra-navegacion a {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  .logotipo {
    height: 40px;
  }
  .crear-marca {
    margin: 10px;
    padding: 10px;
    font-size: 12px;
  }
  .banner {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  .h1 {
    font-size: 1.2rem;
    margin-bottom: 12px;
  }
  .banda-containerindex {
    width: 100%;
    padding: 0px;
  }
  .banda-textolinks {
    font-size: 1.1rem;
    text-align: center;
  }
  .banda-textolinks a {
    padding: 0px;
    flex: 1 1 calc(50% - 10px);
  }
  .parrafo-index {
    font-size: 14px;
    margin: 10px;
  }
  .card-index {
    padding: 20px;
    margin: 20px;
  }
  .marquee img {
    width: 80%;
    height: auto;
  }
  .h2-benef {
    font-size: 18px;
    padding: 0px;
  }
  .accordion-button {
    font-size: 18px;
    padding-left: 20%;
  }
  .card-escena {
    padding: 10px;
    margin-left: 10px;
  }
  .contenido-presentacion {
    padding: 10px;
    overflow: auto;
  }
  .foto-perfil {
    width: 180px;
    height: auto;
    margin: 10px;
    float: left;
  }
  #flor-perfil {
    font-size: 14px;
    margin-top: 10px;
    overflow: hidden;
  }
  .h2-footer {
    font-size: 1.8rem;
  }
  footer {
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 25px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  .redes-sociales {
    gap: 10px;
  }
  .logoredes {
    width: 60px;
  }
  footer a {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  /* Media Queries TABLETS SERVICIOS (iPad Mini,Samsung Galaxy TabA,Amazon Fire HD y similares)*/
  #box {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    height: auto;
  }
  .barra-navegacion {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0%;
  }
  .barra-navegacion a {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  .logotipo {
    height: 40px;
  }
  .crear-marca {
    margin: 10px;
    padding: 10px;
    font-size: 12px;
  }
  .servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .cards-servicios {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5764705882);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
    padding: 20px;
    max-width: 90%;
    height: auto;
    margin: 10px 0;
  }
  .imagenes-servicios {
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding: 5px;
  }
  .p-card-serv {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    margin: 15px 0;
    width: 90%;
  }
  .h2-footer {
    font-size: 1.8rem;
  }
  footer {
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 25px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  .redes-sociales {
    gap: 10px;
  }
  .logoredes {
    width: 60px;
  }
  footer a {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  /* Media Queries TABLETS PORTFOLIO (iPad Mini,Samsung Galaxy TabA,Amazon Fire HD y similares)*/
  #box {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    height: auto;
  }
  .barra-navegacion {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0%;
  }
  .barra-navegacion a {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  .logotipo {
    height: 40px;
  }
  .crear-marca {
    margin: 10px;
    padding: 10px;
    font-size: 12px;
  }
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
  .cards-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
    padding: 20px;
    max-width: 90%;
    height: auto;
    margin: 15px 0;
  }
  .foto-portfolio {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .p-portfolio {
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-align: center;
  }
  .h2-footer {
    font-size: 1.8rem;
  }
  footer {
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 25px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  .redes-sociales {
    gap: 10px;
  }
  .logoredes {
    width: 60px;
  }
  footer a {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  /* Media Queries TABLETS SHOP (iPad Mini,Samsung Galaxy TabA,Amazon Fire HD y similares)*/
  #box {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    height: auto;
  }
  .barra-navegacion {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0%;
  }
  .barra-navegacion a {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  .logotipo {
    height: 40px;
  }
  .crear-marca {
    margin: 10px;
    padding: 10px;
    font-size: 12px;
  }
  .baseline-shop {
    font-family: Georgia;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
  }
  .banda-container {
    width: 100%;
    overflow: hidden;
    background-color: rgba(83, 61, 67, 0.9607843137);
    padding: 10px;
  }
  .banda-texto {
    display: flex;
    white-space: nowrap;
    animation: textoScroll 10s linear infinite;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5rem;
    color: rgb(211, 203, 203);
  }
  @keyframes textoScroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .h3-banda {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5rem;
  }
  .p-deltitulo {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }
  .container-fluid {
    width: 90%;
    background-color: #edeae8;
    padding: 20px;
    border-radius: 40px;
  }
  .container-fluid h1 {
    color: #642749;
    text-align: center;
    padding: 10px;
    font-size: 1.8rem;
  }
  .card {
    margin: 2%;
    padding: 2%;
    background-color: rgba(255, 236, 242, 0.8352941176);
    border-radius: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .card-body {
    border-radius: 40px;
  }
  .container-fluid h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(83, 61, 67);
    margin: 10px 0;
    padding: 0;
  }
  .p-plantillas {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(83, 61, 67);
    padding: 10px;
    text-align: center;
  }
  .cards-shop {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
    padding: 30px;
    margin: 30px auto;
    max-width: 90%;
  }
  .cards-shop h1 {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .pack-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .gif-plantillas {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin: 10px;
  }
  .descripcion-pack {
    flex-grow: 1;
    text-align: left;
    padding: 10px;
  }
  .h2-footer {
    font-size: 1.8rem;
  }
  footer {
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 25px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  .redes-sociales {
    gap: 10px;
  }
  .logoredes {
    width: 60px;
  }
  footer a {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  /* Media Queries TABLETS RECURSOS (iPad Mini,Samsung Galaxy TabA,Amazon Fire HD y similares)*/
  #box {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    height: auto;
  }
  .barra-navegacion {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0%;
  }
  .barra-navegacion a {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  .logotipo {
    height: 40px;
  }
  .crear-marca {
    margin: 10px;
    padding: 10px;
    font-size: 12px;
  }
  .iconos3 {
    width: 100%;
    height: auto;
  }
  .tarjeta {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  h1 {
    margin-top: 10px;
    font-size: 2rem;
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 1.5rem;
  }
  .diccionario-grilla {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)) !important;
    list-style-type: none;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }
  .diccionario-grilla li {
    background-color: #F6F3F0;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.308);
    transition: background-color 0.3s, transform 0.3s;
  }
  .diccionario-grilla li:hover {
    background-color: #eae3e0;
    transform: scale(1.05);
    cursor: pointer;
  }
  .enlace-servicios {
    color: #061e38;
    text-decoration: none;
  }
  .enlace-servicios:hover {
    text-decoration: underline;
  }
  .baseline-dicc {
    font-size: 30px;
  }
  /* Sección Blog */
  .titulo-blog {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.8rem;
  }
  .section-blog {
    display: grid;
    gap: 20px;
  }
  .entrada {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #F6F3F0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
  }
  .imagen-entrada {
    width: 50%;
    height: auto;
    margin-right: 15px;
  }
  .contenido-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .entrada h2 {
    margin: 15px;
    line-height: 40px;
  }
  .entrada h2 a:hover {
    text-decoration: underline;
  }
  .entrada:hover {
    background-color: #EAE9E6;
    transform: translateY(-5px);
  }
  .h2-footer {
    font-size: 1.8rem;
  }
  footer {
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 25px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  .redes-sociales {
    gap: 10px;
  }
  .logoredes {
    width: 60px;
  }
  footer a {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  /* Media Queries TABLETS CONTACTOS (iPad Mini,Samsung Galaxy TabA,Amazon Fire HD y similares)*/
  #box {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    height: auto;
  }
  .barra-navegacion {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0%;
  }
  .barra-navegacion a {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  .logotipo {
    height: 40px;
  }
  .crear-marca {
    margin: 10px;
    padding: 10px;
    font-size: 12px;
  }
  .card-form {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
  .v-contactos {
    width: 100%;
    height: auto;
  }
  #p-contacto {
    font-size: 16px;
    padding: 10px;
  }
  .form-label,
  legend,
  .form-check-label {
    font-size: 16px;
  }
  .form-check-input {
    width: 20px;
    height: 20px;
  }
  .form-check {
    flex-direction: column;
    align-items: flex-start;
  }
  .h2-footer {
    font-size: 1.8rem;
  }
  footer {
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 25px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  .redes-sociales {
    gap: 10px;
  }
  .logoredes {
    width: 60px;
  }
  footer a {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}
/* _________________________MEDIA QUERIES DESKTOP GRANDES_________________________ */
@media (min-width: 1440px) and (max-width: 1920px) {
  /* Media Queries DESKTOP GRANDES (Asus ZenBook, MacBook Pro Retina,Dell XPS 15 y similares)*/
  .contenedor-footer {
    width: 70%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
