@media (min-width:320px) and (max-width:475px) {}

@media (min-width: 475px) and (max-width:767px) {}

@media (min-width:768px) {}


/*______________________ Estilos Generales de todas las paginas______________________ */


/* Encabezado de todas las paginas*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#box {
    border-radius: 80px;
    background-color: #F6F3F0;
    height: 73.7031px;
    /* Alto*/
    width: 1241.09px;
    /* Ancho*/
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*entre logo y barra de nav*/
}

.logotipo {
    height: 70px;
    width: auto;
    margin-right: 20px;
    /*entre logo y barra */
}

.barra-navegacion {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    gap: 30px;
    /*entre enlaces*/
    padding-top: 15px;
    margin-bottom: 25px;
}


body {
    background-color: #edeae8;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 20px;
}



/* Estilos de texto */
@font-face {
    font-family: 'Relationsip Of Mélodrame';
    src: url('Fonts/relationship-of-melodrame.ttf') format('truetype');
}

h1,
h2,
h3,
li {
    text-align: center;
}

h1 {
    font-family: 'Relationship Of Mélodrame', sans-serif;
    color: #533d43;
    font-size: 60px;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
    font-family: 'Relationship Of Mélodrame', sans-serif;
    color: #674c53;
    text-decoration: wavy;
}

h3,
h4 {
    font-family: 'Relationship Of Mélodrame', sans-serif;
    color: #674c53;
    font-size: 20px;
}

p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin: 10px 0;
}

ul,
ol {
    padding-left: 0;
    text-align: left;
    margin-left: 20px;
}


/* Estilos de botones */
button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #533d43;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #674c53;
}

a {
    text-decoration: none;
    color: #533d43;
}

a:hover {
    text-decoration: underline;
}

.crear-marca {

    background-color: #533d43;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 25px;
}

.crear-marca:hover {
    background-color: #674c53;
}

.descubrir-servicios {
    font-size: 20px;
    margin-bottom: 20px;
}


/* Estilo general de las cards de todas las paginas */
.plantilla-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    margin: 50px 0;
    margin-left: 70px;
    max-width: 1000px;
}

/* Footer de todas las páginas */

.h2-footer {
    font-size: 2rem;
}

footer {
    border-radius: 80px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    padding: 20px;
    background-color: #F6F3F0;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.redes-sociales {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 15px;
}

.logoredes {
    width: 30px;
    height: auto;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: #555;
}

footer div,
footer a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}





/*______________________ PAGINA DE INICIO ______________________ */

.banner {
    width: 1300px;
    height: 359px;
}

.centered-image {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    height: auto;
}

/* banda con links*/
.banda-containerindex {
    width: 100%;
    overflow: hidden;
    background-color: #533d43f5;
    padding: 10px;
}

.banda-textolinks {
    display: flex;
    white-space: nowrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: rgb(211, 203, 203);
}

.banda-textolinks a {
    color: rgb(211, 203, 203);
    cursor: pointer;
    padding-left: 25%;
    padding-right: 25%;
}


.parrafo-index {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-right: 20px;
}

.card-index {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 80px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
    padding: 40px;
    margin: 50px;
    max-width: 100%;
}

/*slide infinito*/
.marquee {
    width: 100%;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
}

.marquee img {
    width: 400px;
    /* tamaño*/
    margin-right: 10px;
    /* Espacio entre imágenes */
    animation: scroll 10s linear infinite;
    transform: scale(1.05);
    /* mas tamaño */
    cursor: pointer;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-80%);
    }
}

/*acordeon beneficios*/

.h2-benef {
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.accordion-button {
    padding-left: 40px;
    font-size: 1.7rem;
}

.accordion-button:hover {
    background-color: #f0f0f0;
    color: #3333336b;
}

.accordion-body {
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 50px;
    padding-right: 30px;
    text-align: start;
}

/* detrás de escena */
.card-escena {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e789ff2f;
    border-radius: 80px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 50px 0;
    margin-left: 160px;
    max-width: 1000px;
}

.derecha1 {
    text-align: right;
    padding-top: 40px;
    padding-right: 60px;
}

.derecha3 {
    text-align: right;
    padding-right: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.presentacion {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contenido-presentacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.foto-perfil {
    width: 300px;
    height: 700px;
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#flor-perfil {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    margin-right: 40px;
}

.descubrir-servicios {
    font-family: Georgia, 'Times New Roman', Times, serif;
}






/* ______________________ PAGINA SERVICIOS ______________________ */

.servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columnas de igual ancho */
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
}

/*cards de servicios*/
.cards-servicios {
    align-items: center;
    background-color: #ffffff93;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
    padding: 30px;
    max-width: 100%;
    height: 650px;
    margin: 15px;
}

.imagenes-servicios {
    width: 90%;
    height: 60%;
    border-radius: 8px;
    padding: 10px 10px;
}

.p-card-serv {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 25px;
    width: 90%;
}

/*card de preg frecuentes*/
.card-faq {
    width: 80%;
    height: auto;
    margin: 10%;
    border-radius: 80px;
}

.accordion-item {
    width: 100%;
    height: auto;
    border-radius: 80px;

}

.accordion-button {
    padding-left: 40px;
    font-size: 1.7rem;
    border-radius: 80px;
}

.accordion-button:hover {
    background-color: #f0f0f0;
    color: #3333336b;
}

.accordion-body {
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 50px;
    padding-right: 30px;
    text-align: start;
    border-radius: 80px;
}

.accordion-header {
    font-size: 40px;
    margin: 0;
    padding: 0;
    border-radius: 80px;
}



/* ______________________ PAGINA PORTFOLIO ______________________ */


.portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas */
    gap: 20px;
    padding-top: 0;
}

.cards-portfolio {
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
    padding: 35px;
    max-width: 100%;
    height: 600px;
    margin: 15px;
}

.foto-portfolio {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.p-portfolio {
    margin-top: 0;
    margin-bottom: 35px;
    padding-bottom: 50px;
}






/*______________________ PAGINA DE SHOP ______________________ */


.baseline-shop {
    font-family: Georgia;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

/* banda for designers*/
.banda-container {
    width: 100%;
    overflow: hidden;
    background-color: #533d43f5;
    padding: 10px;
}

.banda-texto {
    display: flex;
    white-space: nowrap;
    animation: textoScroll 10s linear infinite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: rgb(211, 203, 203);
}

@keyframes textoScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.h3-banda {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p-deltitulo {
    padding-left: 15%;
    padding-right: 15%;
    text-align: center
}

/* seccion todo cambia con el proceso correcto */
.container-fluid {
    width: 80%;
    background-color: #edeae8;
    padding: 20px;
    border-radius: 80px;
}

.container-fluid h1 {
    color: #642749;
    text-align: center;
    padding: 10px;
}

.card {
    margin: 2%;
    /* Espacio entre tarjetas */
    padding: 2%;
    background-color: #ffecf2d5;
    border-radius: 80px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    border-radius: 80px;
}

.container-fluid h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(83, 61, 67);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 0;
}

.container-fluid p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(83, 61, 67);
    padding: 15px 15px;
    padding-bottom: 0;
    text-align: center;
    justify-content: center;

}

/* fin seccion proceso*/

.cards-shop {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
    padding: 50px;
    margin: 50px auto;
    max-width: 80%;
    justify-content: center;
    align-items: center;
}

.cards-shop h1 {
    padding-top: 0;
    padding-bottom: 25px;
}


.pack-full {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.gif-plantillas {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
}

.descripcion-pack {
    flex-grow: 1;
    text-align: left;
}






/* ______________________ PAGINA RECURSOS ______________________ */

.tarjeta {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra */
    margin-bottom: 20px;
    /* Espacio entre tarjetas */
}

h1 {
    margin-top: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 40px;
}

/*Sección diccionario*/

.diccionario-grilla {
    display: grid;
    /* declara grilla */
    grid-template-columns: repeat(6, minmax(150px, 1fr));
    gap: 15px;
    list-style-type: none;
    padding: 10px;
    margin: 20px 0;
}

.diccionario-grilla li {
    background-color: #F6F3F0;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.308);
    /* Sombra */
    transition: background-color 0.3s, transform 0.3s;
    /* Suaviza la transform. */
}

.diccionario-grilla li:hover {
    background-color: #eae3e0;
    transform: scale(1.05);
    /* mas tamaño */
    cursor: pointer;
}

.enlace-servicios {
    color: #061e38;
    text-decoration: none;
}

.enlace-servicios:hover {
    text-decoration: underline;
    /* subray del hover*/
}

.baseline-dicc {
    font-size: 30px;
}

/*Sección Blog*/

.titulo-blog {
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.entrada {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #F6F3F0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
}

.imagen-entrada {
    width: 250px;
    height: auto;
    margin-right: 15px;
    /* Espacio entre foto y contenido*/
}

.contenido-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entrada h2 {
    margin: 0 0 10px 0;
    line-height: 40px;
    /* Interlineado */
}


.entrada h2 a:hover {
    text-decoration: underline;
}

.entrada:hover {
    background-color: #EAE9E6;
    transform: translateY(-5px);
}

/*Sección Ebook Gratis*/





/* ______________________ PAGINA CONTACTOS ______________________ */

.card-form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff80;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    max-width: 80%;

}

.v-contactos {
    width: 1270px;
    height: auto;
}

#p-contacto {
    text-align: center; 
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 10px; /* Espacio entre el botón y la etiqueta */
}

legend {
    text-align: left; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}

.form-label {
    text-align: left; 
    display: block; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
