/* _________________________MEDIA QUERIES_________________________ */

    /* teléfonos */
@media (max-width: 600px) {

    /* Ajuste de header y barra de navegación */
    #box {
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }

    .barra-navegacion {
        font-size: 16px;
        gap: 10px;
        padding-top: 5px;
        margin-bottom: 15px;
    }

    /* Reducción de fuentes y padding para h1, h2 y textos */
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    p, .descubrir-servicios, button {
        font-size: 18px;
    }

    /* Ajustes para las cards */
    .plantilla-card {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        margin: 20px 0;
        margin-left: 0;
        max-width: 100%;
    }

    /* Footer */
    .redes-sociales {
        flex-direction: row;
        gap: 10px;
    }

    /*______________________ PAGINA DE INICIO ______________________ */
 .banner {
        width: 100%;
        height: auto;
    }
    .banda-textolinks {
        font-size: 1.5rem;
    }
    .banda-textolinks a {
        padding-left: 10%;
        padding-right: 10%;
    }
    .parrafo-index {
        font-size: 18px;
    }
    .card-index, .card-escena {
        margin: 20px;
        padding: 20px;
    }
    .marquee img {
        width: 200px;
    }
    .h2-benef {
        font-size: 36px;
    }
    .accordion-button {
        font-size: 1.4rem;
        padding-left: 20px;
    }
    /* ______________________ PAGINA SERVICIOS ______________________ */
    .servicios {
        grid-template-columns: 1fr; /* Una columna en pantallas móviles */
        gap: 10px;
        padding-top: 30px;
    }
    
    .cards-servicios {
        padding: 20px;
        height: auto;
    }
    
    .p-card-serv {
        font-size: 1rem;
        margin-left: 0;
        width: 100%;
    }
    
    .accordion-button {
        font-size: 1.3rem;
    }
    
    .accordion-header {
        font-size: 1.8rem;
    }
/* ______________________PAGINA PORTFOLIO______________________ */
.portfolio {
    grid-template-columns: 1fr; /* Una sola columna en móviles */
}

.cards-portfolio {
    padding: 20px;
    height: auto; /* Ajuste para permitir flexibilidad en pantallas pequeñas */
}

.foto-portfolio {
    height: 250px; /* Altura reducida para adaptarse a pantallas más pequeñas */
}
/* ______________________PAGINA SHOP______________________ */
.baseline-shop {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
}

.banda-texto {
    font-size: 1.5rem;
}

.p-deltitulo {
    padding-left: 5%;
    padding-right: 5%;
}

.container-fluid {
    width: 90%;
    padding: 15px;
    border-radius: 20px;
}

.cards-shop {
    padding: 30px;
    margin: 30px auto;
}

.gif-plantillas {
    width: 100%;
    height: auto;
    margin-right: 0;
}
/* ______________________PAGINA RECURSOS______________________ */
.diccionario-grilla {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.baseline-dicc {
    font-size: 24px;
}

.section-blog {
    grid-template-columns: 1fr;
}

.imagen-entrada {
    width: 100%;
    height: auto;
    margin-right: 0;
}

.entrada {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
}
/* ______________________PAGINA CONTACTOS______________________ */
.card-form {
    padding: 20px;
    margin: 10% auto; /* Más margen superior en pantallas pequeñas */
    max-width: 90%;
}

.v-contactos {
    width: 100%;
    height: auto;
}

legend, .form-label {
    font-size: 18px; /* Tamaño de fuente reducido */
}
}








/* tablets */
@media (min-width: 601px) and (max-width: 1024px) {
 
    /* Header */
    #box {
        width: 80%;
        padding: 10px;
    }

    /* Barra de navegación */
    .barra-navegacion {
        font-size: 18px;
        gap: 20px;
    }

    /* Textos y cards */
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 35px;
    }
    p, .descubrir-servicios, button {
        font-size: 18px;
    }
    .plantilla-card {
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 30px;
        max-width: 90%;
    }

    /* Footer */
    footer {
        font-size: 16px;
        padding: 15px;
    }
    .redes-sociales {
        flex-direction: row;
        gap: 15px;
    }
/*______________________ PAGINA DE INICIO ______________________ */
.banner {
    width: 1000px;
    height: auto;
}
.centered-image {
    max-width: 600px;
}
.banda-textolinks {
    font-size: 1.8rem;
}
.banda-textolinks a {
    padding-left: 15%;
    padding-right: 15%;
}
.parrafo-index {
    font-size: 19px;
}
.card-index, .card-escena {
    margin: 30px;
    padding: 30px;
}
.marquee img {
    width: 300px;
}
.h2-benef {
    font-size: 42px;
}
.accordion-button {
    font-size: 1.6rem;
}
/* ______________________ PAGINA SERVICIOS ______________________ */
.servicios {
        grid-template-columns: 1fr 1fr; /* 2 columnas para tabletas */
        gap: 15px;
        padding-top: 40px;
    }
    
    .cards-servicios {
        padding: 25px;
        height: 550px;
    }
    
    .accordion-button {
        font-size: 1.5rem;
    }
    
    .accordion-header {
        font-size: 2rem;
    }
/* ______________________PAGINA PORTFOLIO______________________ */
.portfolio {
    grid-template-columns: 1fr 1fr; /* Mantener dos columnas en tablets */
}

.cards-portfolio {
    padding: 30px;
    height: 500px; /* Altura ajustada para pantallas medianas */
}

.foto-portfolio {
    height: 300px; /* Ajuste de altura de imagen para tablets */
}
/* ______________________PAGINA SHOP______________________ */
.baseline-shop {
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
}

.banda-texto {
    font-size: 1.8rem;
}

.container-fluid {
    width: 85%;
    padding: 20px;
    border-radius: 40px;
}

.cards-shop {
    padding: 40px;
}

.gif-plantillas {
    width: 400px;
    height: 400px;
}
}

/* ______________________PAGINA RECURSOS______________________ */
.diccionario-grilla {
    grid-template-columns: repeat(3, 1fr);
}

.baseline-dicc {
    font-size: 26px;
}

.imagen-entrada {
    width: 200px;
    height: auto;
}

.entrada {
    max-width: 90%;
}
/* ______________________PAGINA CONTACTOS______________________ */
.card-form {
    padding: 30px;
    margin: 5% auto;
    max-width: 85%;
}

.v-contactos {
    width: 100%;
    height: auto;
}

legend, .form-label {
    font-size: 22px; /* Ajuste de tamaño en tablets */
}









/* desktop mediano */
@media (min-width: 1025px) {

    /* Header */
    #box {
        width: 1000px;
    }

    /* Barra de navegación */
    .barra-navegacion {
        font-size: 20px;
        gap: 30px;
    }

    /* Cards y Footer */
    .plantilla-card {
        padding-left: 60px;
        padding-right: 60px;
        margin-left: 50px;
        max-width: 90%;
    }
    footer {
        padding: 20px;
        font-size: 18px;
    }
/*______________________ PAGINA DE INICIO ______________________ */
.banner {
    width: 1200px;
    height: auto;
}
.centered-image {
    max-width: 750px;
}
.card-index, .card-escena {
    margin: 40px;
    padding: 35px;
}
.marquee img {
    width: 350px;
}
.h2-benef {
    font-size: 46px;
}
.accordion-button {
    font-size: 1.65rem;
}
/* ______________________ PAGINA SERVICIOS ______________________ */
.servicios {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 50px;
}

.cards-servicios {
    height: 650px;
}
/* ______________________PAGINA PORTFOLIO______________________ */
.portfolio {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
}

.cards-portfolio {
    padding: 35px;
    height: 600px;
}

.foto-portfolio {
    height: 400px;
}
/* ______________________PAGINA SHOP______________________ */
.baseline-shop {
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.container-fluid {
    width: 80%;
    padding: 25px;
    border-radius: 50px;
}

.gif-plantillas {
    width: 500px;
    height: 500px;
}
/* ______________________PAGINA RECURSOS______________________ */
.diccionario-grilla {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
}

.section-blog {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.entrada {
    max-width: 80%;
}
/* ______________________PAGINA CONTACTOS______________________ */
.card-form {
    padding: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.v-contactos {
    width: 100%;
    height: auto;
}

}








/* desktop grande */
@media (min-width: 1441px) {

    /* Header */
    #box {
        width: 1241px;
    }

    /* Barra de navegación */
    .barra-navegacion {
        font-size: 22px;
    }

    /* Textos */
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 45px;
    }

    /* Cards */
    .plantilla-card {
        padding-left: 80px;
        padding-right: 80px;
        max-width: 1000px;
    }

    /* Footer */
    footer {
        padding: 30px;
    }
    
/*______________________ PAGINA DE INICIO ______________________ */
.banner {
    width: 1300px;
    height: 359px;
}
.centered-image {
    max-width: 800px;
}
.card-index, .card-escena {
    margin: 50px;
    padding: 40px;
}
.marquee img {
    width: 400px;
}
.h2-benef {
    font-size: 48px;
}
.accordion-button {
    font-size: 1.7rem;
}
/* ______________________ PAGINA SERVICIOS ______________________ */
.servicios {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
}

.cards-servicios {
    max-width: 90%;
    padding: 35px;
    height: 700px;
}

.accordion-header {
    font-size: 2.5rem;
}
/* ______________________PAGINA PORTFOLIO______________________ */
.portfolio {
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas grandes */
}

.cards-portfolio {
    padding: 40px;
    height: 700px;
}

.foto-portfolio {
    height: 500px;
}
/* ______________________PAGINA SHOP______________________ */
.baseline-shop {
    font-size: 22px;
}

.container-fluid {
    width: 75%;
}

.gif-plantillas {
    width: 600px;
    height: 600px;
}
/* ______________________PAGINA RECURSOS______________________ */
.diccionario-grilla {
    grid-template-columns: repeat(6, minmax(150px, 1fr));
}

.section-blog {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.entrada {
    max-width: 600px;
}
/* ______________________PAGINA CONTACTOS______________________ */
.v-contactos {
    width: 1270px;
    height: auto;
}

.card-form {
    padding: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

}


/*______________________ Estilos Generales de todas las paginas______________________ */


/* Encabezado de todas las paginas*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#box {
    border-radius: 80px;
    background-color: #F6F3F0;
    height: 73.7031px;
    /* Alto*/
    width: 1241.09px;
    /* Ancho*/
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*entre logo y barra de nav*/
}

.logotipo {
    height: 70px;
    width: auto;
    margin-right: 20px;
    /*entre logo y barra */
}

.barra-navegacion {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    gap: 30px;
    /*entre enlaces*/
    padding-top: 15px;
    margin-bottom: 25px;
}


body {
    background-color: #edeae8;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 20px;
}



/* Estilos de texto */
@font-face {
    font-family: 'Relationsip Of Mélodrame';
    src: url('Fonts/relationship-of-melodrame.ttf') format('truetype');
}

h1,
h2,
h3,
li {
    text-align: center;
}

h1 {
    font-family: 'Relationship Of Mélodrame', sans-serif;
    color: #533d43;
    font-size: 60px;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
    font-family: 'Relationship Of Mélodrame', sans-serif;
    color: #674c53;
    text-decoration: wavy;
}

h3,
h4 {
    font-family: 'Relationship Of Mélodrame', sans-serif;
    color: #674c53;
    font-size: 20px;
}

p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin: 10px 0;
}

ul,
ol {
    padding-left: 0;
    text-align: left;
    margin-left: 20px;
}


/* Estilos de botones */
button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #533d43;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #674c53;
}

a {
    text-decoration: none;
    color: #533d43;
}

a:hover {
    text-decoration: underline;
}

.crear-marca {

    background-color: #533d43;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 25px;
}

.crear-marca:hover {
    background-color: #674c53;
}

.descubrir-servicios {
    font-size: 20px;
    margin-bottom: 20px;
}


/* Estilo general de las cards de todas las paginas */
.plantilla-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    margin: 50px 0;
    margin-left: 70px;
    max-width: 1000px;
}

/* Footer de todas las páginas */

.h2-footer {
    font-size: 2rem;
}

footer {
    border-radius: 80px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    padding: 20px;
    background-color: #F6F3F0;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.redes-sociales {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 15px;
}

.logoredes {
    width: 30px;
    height: auto;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: #555;
}

footer div,
footer a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}





/*______________________ PAGINA DE INICIO ______________________ */
/* Estilos generales (base) aplicados a todos los tamaños */

.banner {
    width: 1300px;
    height: 359px;
}
.centered-image {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    height: auto;
}
.banda-containerindex {
    width: 100%;
    overflow: hidden;
    background-color: #533d43f5;
    padding: 10px;
}
.banda-textolinks {
    display: flex;
    white-space: nowrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: rgb(211, 203, 203);
}
.banda-textolinks a {
    color: rgb(211, 203, 203);
    cursor: pointer;
    padding-left: 25%;
    padding-right: 25%;
}
/* Estilos base para el texto y las tarjetas */
.parrafo-index {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 20px;
}
.card-index {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 80px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
    padding: 40px;
    margin: 50px;
    max-width: 100%;
}

/* Slide Infinito */
.marquee {
    width: 100%;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
}
.marquee img {
    width: 400px;
    margin-right: 10px;
    animation: scroll 10s linear infinite;
    transform: scale(1.05);
    cursor: pointer;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-80%);
    }
}
/* Acordeón beneficios */
.h2-benef {
    font-size: 48px;
    margin: 0;
    padding: 0;
}
.accordion-button {
    padding-left: 40px;
    font-size: 1.7rem;
}
.accordion-button:hover {
    background-color: #f0f0f0;
    color: #3333336b;
}
.accordion-body {
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 30px 0 50px;
    text-align: start;
}

/* Detrás de escena */
.card-escena {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e789ff2f;
    border-radius: 80px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
    padding: 0 30px 30px;
    margin: 50px 0;
    margin-left: 160px;
    max-width: 1000px;
}
/* detrás de escena */
.card-escena {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e789ff2f;
    border-radius: 80px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 50px 0;
    margin-left: 160px;
    max-width: 1000px;
}

.derecha1 {
    text-align: right;
    padding-top: 40px;
    padding-right: 60px;
}

.derecha3 {
    text-align: right;
    padding-right: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.presentacion {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contenido-presentacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.foto-perfil {
    width: 300px;
    height: 700px;
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#flor-perfil {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    margin-right: 40px;
}






/* ______________________ PAGINA SERVICIOS ______________________ */

/* Estilos Generales */
.servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual ancho */
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
}

/* Cards de servicios */
.cards-servicios {
    align-items: center;
    background-color: #ffffff93;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
    padding: 30px;
    max-width: 100%;
    height: 650px;
    margin: 15px;
}

.imagenes-servicios {
    width: 90%;
    height: 60%;
    border-radius: 8px;
    padding: 10px 10px;
}

.p-card-serv {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 25px;
    width: 90%;
}

/* Card de preguntas frecuentes */
.card-faq, .accordion-item, .accordion-button, .accordion-body, .accordion-header {
    border-radius: 80px;
}

.card-faq {
    width: 80%;
    margin: 10%;
}

.accordion-item {
    width: 100%;
}

.accordion-button {
    padding-left: 40px;
    font-size: 1.7rem;
}

.accordion-button:hover {
    background-color: #f0f0f0;
    color: #3333336b;
}

.accordion-body {
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 50px;
    padding-right: 30px;
    text-align: start;
}

.accordion-header {
    font-size: 40px;
}




/* ______________________ PAGINA PORTFOLIO ______________________ */
/* Estilos generales (aplican a todas las pantallas) */
.portfolio {
    display: grid;
    gap: 20px;
    padding-top: 0;
}

.cards-portfolio {
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
    padding: 35px;
    max-width: 100%;
    margin: 15px;
}

.foto-portfolio {
    width: 100%;
    border-radius: 8px;
}

.p-portfolio {
    margin-top: 0;
    margin-bottom: 35px;
    padding-bottom: 50px;
}




/*______________________ PAGINA DE SHOP ______________________ */

/* Estilos generales (aplican a todas las pantallas) */
.baseline-shop {
    font-family: Georgia;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}

/* Banda "for designers" */
.banda-container {
    width: 100%;
    overflow: hidden;
    background-color: #533d43f5;
    padding: 10px;
}

.banda-texto {
    display: flex;
    white-space: nowrap;
    animation: textoScroll 10s linear infinite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: rgb(211, 203, 203);
}

@keyframes textoScroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.h3-banda {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p-deltitulo {
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

/* Sección "todo cambia con el proceso correcto" */
.container-fluid {
    width: 80%;
    background-color: #edeae8;
    padding: 20px;
    border-radius: 80px;
}

.container-fluid h1 {
    color: #642749;
    text-align: center;
    padding: 10px;
}

.card {
    margin: 2%;
    padding: 2%;
    background-color: #ffecf2d5;
    border-radius: 80px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    border-radius: 80px;
}

.container-fluid h3, .container-fluid p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(83, 61, 67);
    margin: 0;
}

.container-fluid p {
    padding: 15px;
    text-align: center;
    justify-content: center;
}

/* Sección "cards-shop" */
.cards-shop {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
    padding: 50px;
    margin: 50px auto;
    max-width: 80%;
    justify-content: center;
    align-items: center;
}

.cards-shop h1 {
    padding-top: 0;
    padding-bottom: 25px;
}

.pack-full {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gif-plantillas {
    object-fit: cover;
    margin-right: 20px;
}






/* ______________________ PAGINA RECURSOS ______________________ */

/* Estilos generales (aplican a todas las pantallas) */
.tarjeta {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

h1 {
    margin-top: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 40px;
}

/* Sección diccionario */
.diccionario-grilla {
    display: grid;
    grid-template-columns: repeat(6, minmax(150px, 1fr));
    list-style-type: none;
    gap: 15px;
    padding: 10px;
    margin: 20px 0;
}

.diccionario-grilla li {
    background-color: #F6F3F0;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.308);
    transition: background-color 0.3s, transform 0.3s;
}

.diccionario-grilla li:hover {
    background-color: #eae3e0;
    transform: scale(1.05);
    cursor: pointer;
}

.enlace-servicios {
    color: #061e38;
    text-decoration: none;
}

.enlace-servicios:hover {
    text-decoration: underline;
}

.baseline-dicc {
    font-size: 30px;
}

/* Sección Blog */
.titulo-blog {
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.entrada {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #F6F3F0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
}

.imagen-entrada {
    width: 250px;
    height: auto;
    margin-right: 15px;
}

.contenido-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entrada h2 {
    margin: 0 0 10px 0;
    line-height: 40px;
}

.entrada h2 a:hover {
    text-decoration: underline;
}

.entrada:hover {
    background-color: #EAE9E6;
    transform: translateY(-5px);
}

/*Sección Ebook Gratis*/





/* ______________________ PAGINA CONTACTOS ______________________ */

.card-form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff80;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    max-width: 80%;
}

.v-contactos {
    width: 1270px;
    height: auto;
}

#p-contacto {
    text-align: center;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 10px;
    /* Espacio entre el botón y la etiqueta */
}

legend {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}

.form-label {
    text-align: left;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}