/* h1 y Cards de servicios */
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
  
    .cards-servicios {
      align-items: center;
      background-color: #ffffff93;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
      padding: 20px;
      max-width: 100%;
      margin: 15px;
      height: auto; /* Cambiar la altura a auto para adaptarse al contenido */
  
      h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
      }
  
      .imagenes-servicios {
        width: 100%; /* Imagen se adapta al ancho de la tarjeta */
        height: auto; /* Mantiene la proporción original */
        border-radius: 8px;
        padding: 10px 0; /* Asegura espacio sin expandir la imagen */
      }
  
      .p-card-serv {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        width: 100%; /* Se adapta al contenedor */
        padding: 10px 0; /* Espaciado interno */
      }
    }
  }
  
  /* Media Queries para vista mobile (320px de ancho) */
  @media (max-width: 320px) {
    .servicios {
      grid-template-columns: 1fr; /* Una columna en vista mobile */
      gap: 15px;
    }
  
    .cards-servicios {
      padding: 15px; /* Ajusta el padding para vista más pequeña */
      margin: 10px;
    }
  
    .p-card-serv {
      font-size: 0.8rem; /* Reduce un poco el tamaño de fuente */
    }
  }
  