
.baseline-dicc {
    font-size: 25px;
}
.container-mt-4 {
    border-radius: 80%;
    background-color: #f6f3f0;

   .list-group-item {
    border: none;
    padding: 15px;
   }  
    
    h5 {
    font-weight: bold;
    color: #674c53;
    text-align: left;
    justify-content: left;
    align-items: left;
    align-content: left;
}
    .mb-1 {
        text-align: left;
        justify-content: left;
        align-items: left;
        align-content: left;
    }
}